.tableContainer{
    width: fit-content;
    background-color: white;
    width: 100%;
}
.upperTableContainer{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.bold{
    font-weight: 600;
}
.padding{
    padding: 0 30px 20px ;
}
.pointer{
    cursor: pointer;
}
.tableHead{
    box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.308);
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    background-color: rgb(202, 211, 228);
    padding:20px 30px;
}
.tableHead>h4{
    width: 10rem;
}
.tableHead>name{
    width: 7.5rem;
    margin-left: 35px;
}
.tableHead>email{
    width: 8rem;
    /* margin-left: 35px; */
}
.tableHead>project{
    width: 8rem;
    margin-left: 95px;
}
.tableHead>date{
    width: 10rem;
    margin-left: 25px;
}
.tableHead>status{
    margin-left: 10px;
    width: 6rem;
}
.tableContent{
    padding: 20px 20px;
}
.tableColumn{
    display: flex;
    gap: 20px;
    margin-bottom: 2px;
    align-items: center;
    border-bottom: 0.5px solid #E2E8F0;
}
.tableColumn>p{
    width: 10rem;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-wrap: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.tableColumn>status{
    width: 6rem;  
    border-radius: 15px;  
    text-align: center;
    font-weight: bold;
    padding: 3px 0px;
}
.userIcon{
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}
.email{
    width: 14rem;
}
.upperTableContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px
}
.tableIconsContainer{
    display: flex;
    gap: 30px;
    margin-right: 2rem;
}